.paper-display {
    display:flex;
    align-items:center;
    flex-direction:column;
    justify-content: center;
    padding-left: 10vw;
    padding-right: 10vw;

    
}
.abstract {
    justify-content: left;
    text-align:left;
    padding-left: 10vw;
    padding-right: 10vw;
}


.info-section {
    display:flex;
    flex-direction:row;
    max-width:80vw;
    justify-content: center;
    align-items: center;
}

.main-section {
    margin-top:15vh;
    height: 65vh;
}

.about-section {
    height:fit-content;
    /* width:100%; */
    display:flex;
    flex-direction:column;
    align-items:center;
    padding: 1.5em;
}

.titling {
    padding: 0em;
    font-size: 35px;
}