@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Style for the card container */
.card {
  width: 65%; /* Set a fixed width for the card */
  height: 500px;
  border: 1px solid #ccc; /* Optional: Add a border for visual separation */
  padding: 10px; /* Optional: Add padding for better visual appearance */
  margin-bottom: 20px; /* Optional: Add margin for spacing between cards */
}


/* Styles for PaperItem components within the card */
.card .title {
  font-size: 16px; /* Adjust font size based on your design */
  font-weight: bold;
}

.card .author,
.card .date,
.card .doi {
  font-size: 14px; /* Adjust font size based on your design */
}

#total {
    margin: 2rem;
    font-size: 2rem;
}

.main-body {
    margin-left: 35vw;
}


.card {
    margin: 2rem;
    padding: 1rem;
    border:1px solid;
    border-radius: 15px;
    max-width: 400px; 
    max-height: fit-content; 
    background-color:rgb(58, 68, 77);
    color:white;
}

.card:hover {
    background-color:rgb(137, 134, 135);
}

.searchBar {
  padding: 18px;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  font-size: 16px; 
}

.container {
  display: flex;
  justify-content: space-between;
  
}




